<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button text-light">
    <!-- <i class="fa-solid fa-bars"></i> -->
  </div>

  <a href="#" class="navbar-brand px-4 font-weight-bold">HelpDesk</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a href="#" class="nav-link font-weight-bold me-3 p-2" role="button"
          >Home</a
        >
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link font-weight-bold me-3 p-2" role="button"
          >About</a
        >
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link font-weight-bold me-3 p-2" role="button"
          >FAQs</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle font-weight-bold me-3 p-2"
          role="button"
          data-bs-toggle="dropdown"
          >Login</a
        >
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item">User Login</a></li>
          <li><a href="#" class="dropdown-item">Admin Login</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link font-weight-bold me-3 p-2" role="button"
          >Registration</a
        >
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link font-weight-bold me-3 p-2" role="button"
          >Contact</a
        >
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link font-weight-bold me-3 p-2" role="button"
          >Feedback</a
        >
      </li>
    </ul>
  </div>
</nav>
