<nav class="navbar navbar-expand nav-color px-2">
  <div class="side-nav-button text-light"></div>

  <a
    routerLink="home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="navbar-brand px-4 font-weight-bold font-white"
    >HelpDesk</a
  >

  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a
          routerLink="home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link font-weight-bold me-3 p-2 font-white"
          role="button"
          >Home</a
        >
      </li>

      <li class="nav-item">
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link font-weight-bold me-3 p-2 font-white"
          role="button"
          >About</a
        >
      </li>

      <li class="nav-item">
        <a
          routerLink="/faq"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link font-weight-bold me-3 p-2 font-white"
          role="button"
          >FAQs</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle font-weight-bold me-3 p-2 font-white"
          role="button"
          data-bs-toggle="dropdown"
          >Log In</a
        >
        <ul class="dropdown-menu font-white">
          <li>
            <a
              routerLink="/login"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >User Login</a
            >
          </li>
          <li>
            <a
              routerLink="/admin-login"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Admin Login</a
            >
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a
          routerLink="/signup"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link font-weight-bold me-3 p-2 font-white"
          role="button"
          >Sign Up</a
        >
      </li>

      <li class="nav-item">
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link font-weight-bold me-3 p-2 font-white"
          role="button"
          >Contact</a
        >
      </li>

      <li class="nav-item">
        <a
          routerLink="/feedback"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link font-weight-bold me-3 p-2 font-white"
          role="button"
          >Feedback</a
        >
      </li>
    </ul>
  </div>
</nav>
