<nav *ngIf="router.url !== '/user-dashboard' && router.url !== '/admin-dashboard'" class="navbar navbar-expand-lg bg-light navbar-light">
  <a
    class="navbar-brand px-4 font-weight-bold"
    routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >HelpDesk</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink=""
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/faq"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >FAQ <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item dropdown">
        <a
          style="cursor: pointer;"
          class="nav-link dropdown-toggle font-weight-bold me-3 p-2"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Log In
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a
            class="nav-link font-weight-bold me-3 p-2"
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >User Login <span class="sr-only"></span
          ></a>
          <a
            class="nav-link font-weight-bold me-3 p-2"
            routerLink="/admin-login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Admin Login <span class="sr-only"></span
          ></a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/signup"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Sign Up <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/feedback"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Feedback <span class="sr-only"></span
        ></a>
      </li>
    </ul>
  </div>
</nav>

<nav *ngIf="router.url === '/user-dashboard'" class="navbar navbar-expand-lg bg-light navbar-light">
  <a
    class="navbar-brand px-4 font-weight-bold"
    routerLink="/user-dashboard"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Home</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/user-dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Dashboard <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/user-dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Raise Ticket <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/user-dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >My Tickets <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item dropdown">
        <a
          style="cursor: pointer;"
          class="nav-link dropdown-toggle font-weight-bold me-3 p-2"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          My Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a
            class="nav-link font-weight-bold me-3 p-2"
            routerLink="/user-dashboard"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >User Login <span class="sr-only"></span
          ></a>
          <a
            class="nav-link font-weight-bold me-3 p-2"
            routerLink="/user-dashboard"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Admin Login <span class="sr-only"></span
          ></a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/user-dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Log Out<span class="sr-only"></span
        ></a>
      </li>
    </ul>
  </div>
</nav>

<nav *ngIf="router.url === '/admin-dashboard'" class="navbar navbar-expand-lg bg-light navbar-light">
  <a
    class="navbar-brand px-4 font-weight-bold"
    routerLink="/user-dashboard"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Home</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/user-dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Dashboard <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          style="cursor: pointer;"
          class="nav-link dropdown-toggle font-weight-bold me-3 p-2"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Add New Item
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a
            class="nav-link font-weight-bold me-3 p-2"
            routerLink="/user-dashboard"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >User Login <span class="sr-only"></span
          ></a>
          <a
            class="nav-link font-weight-bold me-3 p-2"
            routerLink="/user-dashboard"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Admin Login <span class="sr-only"></span
          ></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          style="cursor: pointer;"
          class="nav-link dropdown-toggle font-weight-bold me-3 p-2"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          All Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a
            class="nav-link font-weight-bold me-3 p-2"
            routerLink="/user-dashboard"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >User Login <span class="sr-only"></span
          ></a>
          <a
            class="nav-link font-weight-bold me-3 p-2"
            routerLink="/user-dashboard"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Admin Login <span class="sr-only"></span
          ></a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link font-weight-bold me-3 p-2"
          routerLink="/user-dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Log Out<span class="sr-only"></span
        ></a>
      </li>
    </ul>
  </div>
</nav>
