<section>
  <div class="row">
    <h2 class="section-heading">About HelpDesk</h2>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="far fa-solid fa-question"></i>
        </div>
        <h3>HelpDesk Ticketing System</h3>
        <p>
          A help desk is a tool that organizes customer communication to help
          businesses respond to customers and support them more quickly and
          effectively. Using a help desk allows your support team to offer the
          best possible service experience to your customers. HelpDesk offer
          feature to provide context and insight into customer experiences. They
          also offer eatures that allow you to benchmark the performance of your
          support team, ensuring that your team is truly efficient in assisting
          and delighting customers. HelpDesk tools are one of the most integral
          tools for successfully supporting a customer base and delivering
          effortless customer service.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="far fa-solid fa-question"></i>
        </div>
        <h3>Automate your workflows and increase efficiency</h3>
        <p>
          Optimize your processes with HelpDesk workflow automations.
          Automations cut out the repetitive tasks and stop letting things fall
          through the cracks, while freeing up your team for more creative work.
          The more automations you set up on your helpdesk ticket dashboard, the
          more efficient your work will become.<br />
          Automatically assign tasks on your helpdesk ticketing system to
          different team members or give higher value jobs to your more
          experienced workers. You can set up notifications as tasks are
          assigned and completed, or as a helpdesk manager, receive automatic
          alerts to approve work.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="far fa-solid fa-question"></i>
        </div>
        <h3>Embed helpdesk forms into your website</h3>
        <p>
          If your free helpdesk ticketing system is a customer-facing service,
          you can add a form to your website and help customers to submit
          requests with all the details you need. Fully customizable forms allow
          you to define exactly what you want with mandatory fields, dropdowns
          to select a service category, and a text box to add in extra
          details.<br />
          You can embed your form into your website to make it as easy as
          possible to fill in, and integrate it internally with your CRM
          ticketing system. Your CRM will automatically populate the fields you
          have included in the form so anybody on your team can handle any kind
          of request.
        </p>
      </div>
    </div>
  </div>
</section>
