<div class="container">
  <div class="text-center mt-5">
    <h1>Stacked Tickets Chart</h1>
  </div>
</div>
<div class="dashboard-scroll">
  <div class="dashboard">
    <div class="sales-chart p-2">
      <div class="pt-3 pb-5 px-3">
      </div>
      <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
        style="width: 100%; height: 400px; display: block">
      </highcharts-chart>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center mt-5">
    <h1>Tickets Report</h1>
  </div>
</div>
<div class="card">
  <p-table [value]="ticket" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Raised by</th>
              <th>Assignee</th>
              <th>Description</th>
              <th>Ticket Number</th>
              <th>Status</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket let-columns="columns">
          <tr>
              <td>{{ticket.raisedBy}}</td>
              <td>{{ticket.assignee}}</td>
              <td>{{ticket.description}}</td>
              <td>{{ticket.ticketNumber}}</td>
              <td>{{ticket.status}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
