<div class="img">
  <div class="container">
    <div class="header">
      <div class="jotform-icon"></div>
    </div>
    <div class="start">
      <h2 class="title1">ONLINE HELPDESK</h2>
      <h1 class="title2">Easily create tickets.</h1>
      <h3 class="introduce">
        Create online tickets and resolve them. Get an email
        <br />
        for each response. Collect data.
      </h3>
      <button routerLink="/login" class="button">User Login</button>
      <button routerLink="/admin-login" class="button">Admin Login</button>
      <button routerLink="/sign-up" class="button">Sign Up Now</button>
    </div>
  </div>
</div>
<div class="page2">
  <div class="container">
    <h2 class="title3">The easiest ticket management system</h2>
    <div class="icon-list">
      <div class="three-icon">
        <img src="./../../assets/helpdesk.png" alt="" />

        <h3 class="icon-title">HelpDesk Ticketing System</h3>
        <div class="icon-description">
          A help desk is a tool that organizes customer communication to help
          businesses respond to customers and support them more quickly and
          effectively. Using a help desk allows your support team to offer the
          best possible service.
        </div>
      </div>
      <div class="three-icon">
        <img src="./../../assets/ticketing.png" alt="" />

        <h3 class="icon-title">Ticket Management System</h3>
        <div class="icon-description">
          Customers can send, access, and check-in on tickets from the web or
          their email. Agents can manage and respond to tickets quickly and
          easily from any device. The help desk can be customized to your needs
          with custom fields, priorities, and workflows.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page3">
  <div class="container">
    <div class="page3-box">
      <img class="mt-30" src="./../../assets/logo.jpg" alt="" />
      <div class="information">
        <div class="info-title">Organize ticket information</div>
        <br />
        <div class="info-all">
          HelpDesk offer feature to provide context and insight into customer
          experiences. They also offer eatures that allow you to benchmark the
          performance of your support team, ensuring that your team is truly
          efficient in assisting and delighting customers.
        </div>
        <button routerLink="/about" class="button learn-more">Learn More</button>
      </div>
    </div>
  </div>
</div>
<div class="under">
  <div class="container">
    <div class="copy">Copyright © 2023</div>
    <div class="sos-med">
      <a href="#">
        <div class="facebook"></div>
      </a>
      <a href="#">
        <div class="twitter"></div>
      </a>
      <a href="#">
        <div class="linkedin"></div>
      </a>
    </div>
  </div>
</div>
