<div class="container">
  <div class="text-center mt-5">
    <h1>Raise a New Ticket</h1>
  </div>

  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form
              [formGroup]="ticketFields"
              (ngSubmit)="handleNewTicket()"
              id="contact-form"
              role="form"
            >
              <div class="controls">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_name">Firstname *</label>
                      <input
                        id="form_name"
                        type="text"
                        formControlName="firstname"
                        class="form-control"
                        placeholder="Please enter your firstname *"
                        required="required"
                        data-error="Firstname is required."
                      />
                      <label
                        *ngIf="firstname && firstname.invalid && firstname.touched"
                        style="color: red"
                        class="form-label"
                        for="form3Example3"
                        >First Name is required.</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_lastname">Lastname *</label>
                      <input
                        id="form_lastname"
                        type="text"
                        formControlName="lastname"
                        class="form-control"
                        placeholder="Please enter your lastname *"
                        required="required"
                        data-error="Lastname is required."
                      />
                      <label
                        *ngIf="lastname && lastname.invalid && lastname.touched"
                        style="color: red"
                        class="form-label"
                        for="form3Example3"
                        >First Name is required.</label
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_email">Ticket Title *</label>
                      <input
                        id="form_email"
                        type="text"
                        formControlName="ticketTitle"
                        class="form-control"
                        placeholder="Please enter your ticket title *"
                        required="required"
                        data-error="Valid email is required."
                      />
                      <label
                        *ngIf="ticketTitle && ticketTitle.invalid && ticketTitle.touched"
                        style="color: red"
                        class="form-label"
                        for="form3Example3"
                        >First Name is required.</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_need">Select Category *</label>
                      <select
                        id="form_need"
                        formControlName="category"
                        class="form-control"
                        required="required"
                        data-error="Please specify your need."
                      >
                        <option value="" selected disabled>
                          --Select Your Priority--
                        </option>
                        <option>Very High Priority</option>
                        <option>High Priority</option>
                        <option>Medium Priority</option>
                        <option>Low Priority</option>
                      </select>
                      <label
                        *ngIf="category && category.invalid && category.touched"
                        style="color: red"
                        class="form-label"
                        for="form3Example3"
                        >First Name is required.</label
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_message">Description of Ticket *</label>
                      <textarea
                        id="form_message"
                        formControlName="description"
                        class="form-control"
                        placeholder="Write your message here."
                        rows="4"
                        required="required"
                        data-error="Please, leave us a message."
                      ></textarea>
                      <label
                        *ngIf="description && description.invalid && description.touched"
                        style="color: red"
                        class="form-label"
                        for="form3Example3"
                        >First Name is required.</label
                      >
                    </div>
                  </div>

                  <div class="col-md-6">
                    <input [disabled]="ticketFields.invalid"
                      type="submit"
                      class="btn btn-success btn-send pt-2 btn-block"
                      value="Submit"
                    />
                  </div>
                  <div class="col-md-6">
                    <input (click)="resetForm()"
                      type="submit"
                      class="btn btn-danger btn-send pt-2 btn-block"
                      value="Reset"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
