<section class="center">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h3 class="font-bold">HelpDesk - Admin Dashboard</h3>
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <div>
                <button type="submit" class="btn-teal btn btn-block mb-4">
                  Add User
                </button>
                <button type="submit" class="btn-teal btn btn-block mb-4">
                  Add Tickets
                </button>
                <button type="submit" class="btn-teal btn btn-block mb-4">
                  All Tickets
                </button>
                <button type="submit" class="btn-teal btn btn-block mb-4">
                  Category Management
                </button>
                <button type="submit" class="btn-teal btn btn-block mb-4">
                  User Management
                </button>
                <button type="submit" class="btn-teal btn btn-block mb-4">
                  FAQ Management
                </button>
                <button type="submit" class="btn-teal btn btn-block mb-4">
                  Contact Us Report
                </button>
                <button type="submit" class="btn-teal btn btn-block mb-4">
                  Log Out
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
