.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .center {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .center {
    justify-content: flex-start;
  }
}
