<div class="bg-color">
  <div class="row">
    <div class="col-8 text-center m-auto">
      <h1 class="font-white">Online HelpDesk Software</h1>
      <h3 class="helpdesk-header font-white">
        Manage Tickets and Improve Your Customer Experience
      </h3>
    </div>
    <div class="col-4 m-auto">
      <img class="mt-30" src="./../../assets/logo.jpg" alt="" />
    </div>
  </div>
</div>

<div class="mt-30">
  <h2 class="ml-40">Welcome to HelpDesk</h2>

  <div id="services">
    <div class="box">
      <img src="./../../assets/helpdesk.png" alt="" />
      <h2 class="h-secondary center">HelpDesk Ticketing System</h2>
      <p class="center">
        A help desk is a tool that organizes customer communication to help
        businesses respond to customers and support them more quickly and
        effectively. Using a help desk allows your support team to offer the
        best possible service.
      </p>
    </div>
    <div class="box">
      <img src="./../../assets/ticketing.png" alt="" />
      <h2 class="h-secondary center">Ticket Management System</h2>
      <p class="center">
        A help desk is a tool that organizes customer communication to help
        businesses respond to customers and support them more quickly and
        effectively. Using a help desk allows your support team to offer the
        best possible service.
      </p>
    </div>
    <div class="box">
      <img src="./../../assets/service.jpg" alt="" />
      <h2 class="h-secondary center">User Management System</h2>
      <p class="center">
        A help desk is a tool that organizes customer communication to help
        businesses respond to customers and support them more quickly and
        effectively. Using a help desk allows your support team to offer the
        best possible service.
      </p>
    </div>
  </div>
</div>
