name: Angular Build Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18.x'

    - name: Install dependencies
      run: npm install -g @angular/cli

    - name: Build Angular app
      run: ng build --configuration=production
      
    - name: Publish to Docker Hub
      uses: docker/build-push-action@v1     
      with:       
       username: ${{ secrets.DOCKER_HUB_USERNAME }} 
       password:  ${{ secrets.DOCKER_HUB_PASSWORD }}
       repository: ${{ secrets.DOCKER_HUB_USERNAME }}/helpdesk-web   
       tags: 1.0.0 # use ${{github.run_number}} to make it dynamic
